@import 'common/theme';
@import 'common/utils';

$control-height: 26px;
$range-bar-left-thickness: 3px;
$range-bar-right-thickness: 3px;
$range-handle-size: 15px;
$range-tooltip-color: $grey-darken-4;

$range-transition-time: .1s ease-in-out;

.range-container {
    display: inline-block;
    position: relative;
    flex: 1 1 0%;
    width: 100%;
    min-width: $range-handle-size;
    height: $control-height;

    input[type='range'] {
        width: 100%;
        min-width: 128px;
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 0;

        &:not(:disabled) {
            cursor: pointer;
        }
    }

    .range-skin-container {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-flow: nowrap;
        width: 100%;
        height: 100%;
        pointer-events: none;
        user-select: none;
    }

    .range-stub {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        width: floor(0.5 * $range-handle-size);
    }

    .range-progress {
        display: flex;
        flex: 1;
        flex-flow: row nowrap;
    }

    .range-progress-left {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        width: 85%;
    }

    .range-progress-right {
        position: relative;
        flex-grow: 1;
    }

    .range-bar {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 0;

        &.range-bar-left {
            top: round(0.5 * ($control-height - $range-bar-left-thickness));
            height: $range-bar-left-thickness;
        }

        &.range-bar-right {
            top: round(0.5 * ($control-height - $range-bar-right-thickness));
            height: $range-bar-right-thickness;
            @include color-control-neutral(background);
        }

        &.range-stub-left {
            border-radius: $range-bar-left-thickness 0 0 $range-bar-left-thickness;
        }

        &.range-stub-right {
            border-radius: 0 $range-bar-right-thickness $range-bar-right-thickness 0;
        }
    }

    .range-handle {
        position: absolute;
        top: 0.5 * ($control-height - $range-handle-size);
        right: -0.5 * $range-handle-size;
        width: $range-handle-size;
        height: $range-handle-size;
        border-radius: 50%;
        z-index: 1;
    }

    .range-bar-left,
    .range-handle {
        @include color-control-accent(background);
    }

    input[type='range']:not(:disabled):hover + .range-skin-container .range-handle,
    input[type='range']:not(:disabled):focus + .range-skin-container .range-handle {
        @include color-control-accent-hover(background);
    }

    input[type='range']:not(:disabled):active + .range-skin-container .range-handle {
        @include color-control-accent-active(background);
    }

    input[type='range']:disabled + .range-skin-container {
        .range-bar-left,
        .range-handle {
            @include color-control-accent-disabled(background);
        }
    }

    .range-tooltip {
        position: absolute;
        top: -28px;
        right: 0;
        min-width: 24px;
        padding: 4px;
        transform: translateX(50%);
        transition: opacity $range-transition-time;
        border-radius: 4px;
        background: $range-tooltip-color;
        color: $grey-lighten-5;
        font-size: 87.5%;
        text-align: center;
        opacity: 0;
        z-index: 2;
    }

    input[type='range']:hover + .range-skin-container .range-tooltip,
    input[type='range']:active + .range-skin-container .range-tooltip,
    input[type='range']:focus + .range-skin-container .range-tooltip {
        opacity: 1;
    }

    .range-tooltip::after {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0px;
        height: 12px;
        margin-left: -6px;
        border-width: 6px;
        border-style: solid;
        border-color: $range-tooltip-color transparent transparent;
        content: '';
    }
}
