@import 'common/colors';
@import 'common/utils';

$range-thumb-color: $color-control-accent;
$range-thumb-color-hover: $color-control-accent-hover;
$range-thumb-color-active: $color-control-accent-active;
$range-thumb-color-disabled: $color-control-disabled;

$range-track-color: $color-control-neutral;
$range-track-color-hover: $color-control-neutral;
$range-track-color-active: $color-control-neutral;
$range-track-color-disabled: $color-control-neutral;

$range-thumb-width: 16px;
$range-thumb-height: 16px;
$range-thumb-border-radius: 50%;

$range-track-height: 4px;
$range-track-border-radius: $range-track-height / 2;

$range-transition-time: .1s ease-in-out;

@mixin range-thumb {
    width: $range-thumb-width;
    height: $range-thumb-height;
    border: none;
    border-radius: $range-thumb-border-radius;
    background: $range-thumb-color;
    cursor: pointer;

    // @include transition($range-transition-time);
}

@mixin range-thumb-disabled {
    background: $range-thumb-color-disabled;
    cursor: default;
}

@mixin range-thumb-hover {
    background: $range-thumb-color-hover;
}

@mixin range-thumb-active {
    background: $range-thumb-color-active;
}

@mixin range-track {
    width: 100%;
    height: $range-track-height;
    border: none;
    border-radius: $range-track-border-radius;
    background: $range-track-color;
    cursor: pointer;

    // @include transition($range-transition-time);
}

@mixin range-track-hover {
    background: $range-track-color-hover;
}

@mixin range-track-active {
    background: $range-track-color-hover;
}

@mixin range-track-disabled {
    background: $range-track-color-disabled;
    cursor: default;
}

.range {
    flex: 1;
    width: 100%; // Specific width is required for Firefox.
    height: 26px;

    // sass-lint:disable-block no-mergeable-selectors
    // Remove default styles ========================================================
    & > input[type=range] {
        width: 100%; // Specific width is required for Firefox.
        min-width: 128px;
        height: 26px;
        margin: 0;
        padding: 0;
        background: transparent; // Otherwise white in Chrome
        -webkit-appearance: none; // Hides the slider so that custom slider can be made

        &:not(:disabled) {
            cursor: pointer;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
        }

        &:focus {
            outline: none; // Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though.
        }

        &::-ms-track {
            width: 100%;

            // Hides the slider so custom styles can be added
            border-color: transparent;
            background: transparent; 
            color: transparent;
        }
    }

    // Thumb style =================================================================
    & > input[type=range] {
        &::-webkit-slider-thumb {
            @include range-thumb;
            margin-top: ($range-track-height - $range-thumb-height) / 2; // You need to specify a margin in Chrome, but in Firefox and IE it is automatic
            -webkit-appearance: none;
        }

        &::-moz-range-thumb { @include range-thumb; }
        &::-ms-thumb { @include range-thumb; margin-top: 1px;}

        &:disabled {    
            &::-webkit-slider-thumb { @include range-thumb-disabled; }
            &::-moz-range-thumb { @include range-thumb-disabled; }
            &::-ms-thumb { @include range-thumb-disabled; }
        }

        &:focus,
        &:hover:not(:disabled) {   
            &::-webkit-slider-thumb { @include range-thumb-hover; }
            &::-moz-range-thumb { @include range-thumb-hover; }
            &::-ms-thumb { @include range-thumb-hover; }
        }

        &:active:not(:disabled) {
            &::-webkit-slider-thumb { @include range-thumb-active; }
            &::-moz-range-thumb { @include range-thumb-active; }
            &::-ms-thumb { @include range-thumb-active; }
        }
    }


    // Track style ==================================================================
    & > input[type=range] {

        & {
            &::-webkit-slider-runnable-track { @include range-track; }
            &::-moz-range-track { @include range-track; }
            &::-ms-track { @include range-track; }

            &::-ms-fill-lower,
            &::-ms-fill-upper {
                border: none;
                border-radius: $range-track-border-radius;
                background: $range-track-color;
            }

            &:focus::-ms-fill-lower,
            &:focus::-ms-fill-upper {
                background: $range-track-color-hover;
            }
        }

        &:disabled {
            &::-webkit-slider-runnable-track { @include range-track-disabled; }
            &::-moz-range-track { @include range-track-disabled; }
            &::-ms-track { @include range-track-disabled; }
        }

        &:focus,
        &:hover:not(:disabled) {
            &::-webkit-slider-runnable-track { @include range-track-hover; }
            &::-moz-range-track { @include range-track-hover; }
            &::-ms-track { @include range-track-hover; }
        }

        &:active:not(:disabled) {
            &::-webkit-slider-runnable-track { @include range-track-active; }
            &::-moz-range-track { @include range-track-active; }
            &::-ms-track { @include range-track-active; }
        }
    }

    $arrow-size: 12px;
    $border-radius: 4px;

    $tooltip-color: $grey-darken-4;

    & > .tooltip {
        position: absolute;
        top: -10000000px;
        left: 0;
        min-width: 24px;
        padding: $border-radius;
        border-radius: $border-radius;
        background: $tooltip-color;
        color: $grey-lighten-5;
        font-size: 87.5%;
        text-align: center;
        opacity: 0;
        z-index: 127;
        pointer-events: none;  

        @include transition(opacity $range-transition-time);
        @include user-select(none);

        &::after {
            position: absolute;
            top: 100%;
            left: 50%;
            width: $arrow-size;
            height: $arrow-size;
            margin-left: -$arrow-size / 2;
            border-width: $arrow-size / 2;
            border-style: solid;
            border-color: $tooltip-color transparent transparent;
            content: '';

            @include box-sizing(border-box);
        }
    }

    & > input[type=range]:active:not(:disabled) + .tooltip,
    &:hover > .tooltip {
        opacity: 1;
    }
}
