@import 'common/theme';
@import 'common/utils';

$control-height: 26px;
$range-bar-left-thickness: 4px;
$range-bar-right-thickness: 2px;
$range-handle-size: 16px;
$range-tooltip-color: $grey-darken-4;

$range-transition-time: .1s ease-in-out;

.range-container {
    display: inline-block;
    position: relative;
    flex: 1 1 0%;
    width: 100%;
    height: $control-height;

    input[type='range'] {
        width: 100%;
        min-width: 128px;
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 0;

        &:not(:disabled) {
            cursor: pointer;
        }
    }

    .range-bar-left,
    .range-bar-right,
    .range-handle,
    .range-tooltip {
        pointer-events: none;
        user-select: none;
    }

    .range-bar-left {
        position: absolute;
        top: 0.5 * ($control-height - $range-bar-left-thickness);
        left: 0;
        height: $range-bar-left-thickness;
        border-radius: 0.5 * $range-bar-left-thickness;
    }

    .range-bar-right {
        position: absolute;
        top: 0.5 * ($control-height - $range-bar-right-thickness);
        right: 0;
        width: 100%;
        height: $range-bar-right-thickness;
        border-radius: 0.5 * $range-bar-right-thickness;
        background: $color-control-neutral;
    }

    .range-handle {
        position: absolute;
        top: 0.5 * ($control-height - $range-handle-size);
        left: 0.5 * $range-handle-size;
        width: $range-handle-size;
        height: $range-handle-size;
        transform: translateX(-0.5 * $range-handle-size);
        border-radius: 50%;
    }

    input[type='range']:not(:disabled):hover ~ .range-handle,
    input[type='range']:not(:disabled):focus ~ .range-handle {
        background: $color-control-accent-hover;
    }

    input[type='range']:not(:disabled):active ~ .range-handle {
        background: $color-control-accent-active;
    }

    .range-bar-left,
    .range-handle {
        background: $color-control-accent;
    }

    input[type='range']:disabled {
        & ~ .range-bar-left,
        & ~ .range-handle {
            background: $color-control-disabled;
        }
    }

    .range-tooltip {
        position: absolute;
        top: -28px;
        left: 0;
        min-width: 24px;
        padding: 4px;
        transform: translateX(-50%);
        transition: opacity $range-transition-time;
        border-radius: 4px;
        background: $range-tooltip-color;
        color: $grey-lighten-5;
        font-size: 87.5%;
        text-align: center;
        opacity: 0;
    }

    input[type='range']:hover + .range-tooltip,
    input[type='range']:active + .range-tooltip,
    input[type='range']:focus + .range-tooltip {
        opacity: 1;
    }

    .range-tooltip::after {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0px;
        height: 12px;
        margin-left: -6px;
        border-width: 6px;
        border-style: solid;
        border-color: $range-tooltip-color transparent transparent;
        content: '';
    }
}
