<div class="range-container">
    # { const initialState = IsFalse(enabled) ? "disabled" : "";
    <input type="range" min="#=(min)" max="#=(max)" value="#=(value)" step="#=(step)" class="slider" id="#=(id)" #=(initialState)>
    # }
    <div class="range-skin-container">
        <div class="range-stub">
            <span class="range-bar range-bar-left range-stub-left"></span>
        </div>
        <div class="range-progress">
            <div class="range-progress-left">
                <span class="range-bar range-bar-left"></span>
                <span class="range-handle"></span>
                <output for="#=(id)" class="range-tooltip"></output>
            </div>
            <div class="range-progress-right">
                <span class="range-bar range-bar-right"></span>
            </div>
        </div>
        <div class="range-stub">
            <span class="range-bar range-bar-right range-stub-right"></span>
        </div>
    </div>
</div>