<div class="range">
    # { const initialState = IsFalse(enabled) ? "disabled" : "";
    <input type="range" min="#=(min)" max="#=(max)" value="#=(value)" step="#=(step)" class="slider" id="#=(id)" #=(initialState)>
    <span class="tooltip"></span>
    # }
</div>