<header>
    # animation = animation || "";
    <a class="logo #=(animation)" href="#=(href)" id="#=(id)" aria-label="#=(label)">
        <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
            # if (icon === "home") {
                <path fill="none" stroke-width="1" d="M17.5,32.5h5v11h7v-7l1,-1h3l1,1v7h7v-11h5L32,17z"/>
            # } else if (icon === "dice") {
                <g fill="none">
                    <path d="M18.5,23 l 14,-7 14,7 v17 l -14,7 -14,-7z    M18.5,23 l 14,7 14,-7    M32.5,30v17"></path>
                </g>
                
                <g stroke="none">
                    <circle cx="32.5" cy="23" r="1.5"></circle>
        
                    <circle cx="22.5" cy="30" r="1.5"></circle>
                    <circle cx="28" cy="40" r="1.5"></circle>
        
                    <circle cx="42.5" cy="30" r="1.5"></circle>
                    <circle cx="40" cy="35" r="1.5"></circle>
                    <circle cx="37" cy="40" r="1.5"></circle>
                </g>
            # } else {
                # throw "Unknown icon '" + icon + "'.";
            # }
        </svg>
    </a>
</header>