@import 'common/colors';
@import 'common/shadows';
@import 'common/utils';

$card-max-width: 512px;
$card-height: 256px;
$card-padding: 12px;

$card-border-radius: 4px;

$card-background-color: white;

$card-transition-time: .1s ease-in-out;


// Sets the shadow, size and margin
// ::after shadow
.card-frame {
    position: relative;
    max-width: $card-max-width;
    height: $card-height;
    padding: $card-padding;

    border-radius: $card-border-radius;
    background-color: $card-background-color;
    background-position: center;
    background-size: cover;
    box-shadow: $shadow-pop-1;
    overflow: hidden;
    box-sizing: border-box;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        content: '';
        opacity: 0;
        z-index: 1;

        @include transition($card-transition-time)
    }

    &:hover::after {
        opacity: 0.1;
    }
}

.card-background {
    $image-width: $card-max-width;

    position: absolute;
    top: 0;
    left: calc(50% - #{0.5 * $image-width});
    width: $image-width;
    height: 100%;
    z-index: 0;

    .card-frame:hover > & {
        // transform: scale(1.05); // to avoid artifacts on edges due to blurring
        filter: blur(3px); // without transition because it is too expensive
    }
}

.card-content {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
    height: 100%;
    margin: auto;
    border: 1px solid #cccccc;
    border-radius: 8px;
    background-color: white;
    z-index: 2;
    box-sizing: border-box;
    user-select: none;

    &.card-reveal {
        opacity: 0;

        .card-frame:hover > & {
            opacity: 1;
        }

        @include transition($card-transition-time)
    }
}

.card-body {
    width: 100%;
    color: #353535;
    font-size: 90%;
    text-align: justify;
    text-indent: 1em;
    overflow-y: auto;

    > p {
        margin: $card-padding;
    }

    $scrollbar-thumb-width: 6px;
    $scrollbar-thumb-margin: 3px;

    &::-webkit-scrollbar {
        width: $scrollbar-thumb-width + 2 * $scrollbar-thumb-margin;
    }

    &::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: $card-background-color;
    }

    &::-webkit-scrollbar-thumb {
        border: $scrollbar-thumb-margin solid $card-background-color;
        border-radius: 6px;
        background-color: #b1b1b1;
    }
}

a.card-link {
    $card-link-line-height: 32px;
    $card-link-border-width: 2px;

    display: block;
    position: relative;
    margin: 20px;
    padding: 0 24px;
    border: $card-link-border-width solid $color-medium;
    border-radius: 0.5 * ($card-link-line-height + 2 * $card-link-border-width);
    outline: none;
    background: white;
    color: $color-medium;
    font-weight: bold;
    line-height: $card-link-line-height;
    text-decoration: none;

    &:hover {
        border-color: $color-lighten-2;
        color: $color-lighten-2;
    }
}

.card-title {
    padding-left: 0.5 * $card-border-radius;
    color: #2b2b2b;
    font-size: 112.5%;
    line-height: 28px;
    text-align: left;
    user-select: none;
}
