@use 'common/theme';
@use 'common/utils';

$card-max-width: 512px;
$card-height: 256px;
$card-padding: 12px;

$card-border-radius: 4px;

$shadow-color: rgba(50, 50, 50, 0.6);

$card-transition-time: .1s ease-in-out;


// Sets the shadow, size and margin
// ::after shadow
.card-frame {
    position: relative;
    max-width: $card-max-width;
    height: $card-height;
    padding: $card-padding;

    border-radius: $card-border-radius;
    @include theme.color-theme(background-color);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 1px 6px -1px $shadow-color;
    overflow: hidden;
    box-sizing: border-box;

    &.active .card-background.blurred,
    &:hover .card-background.blurred {
        filter: saturate(1.5);
    }
}

.card-background {
    position: absolute;
    top: 0;
    left: calc(50% - #{0.5 * $card-max-width});
    width: $card-max-width;
    height: $card-height;
    z-index: 0;
}

picture.card-background {
    @include utils.transition(opacity $card-transition-time);

    .card-frame.active > &,
    .card-frame:hover > & {
        opacity: 0;
    }
}

.card-image {
    width: $card-max-width;
    height: $card-height;
}

.card-content {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
    height: 100%;
    margin: auto;
    border: 1px solid rgba(150,150,150, 0.6);
    border-radius: 8px;
    @include theme.block-background-color(background-color);
    box-shadow: 0 0 10px $shadow-color;
    z-index: 2;
    box-sizing: border-box;
    user-select: none;

    &.card-reveal {
        opacity: 0;

        .card-frame.active > &,
        .card-frame:hover > & {
            opacity: 1;
        }

        @include utils.transition($card-transition-time)
    }
}

.card-body {
    width: 100%;
    font-size: 90%;
    text-align: justify;
    text-indent: 1em;
    overflow-y: auto;

    > p {
        margin: $card-padding;

        &:last-child {
            margin-bottom: 0;
        }
    }

    $scrollbar-thumb-width: 6px;
    $scrollbar-thumb-margin: 3px;

    &::-webkit-scrollbar {
        width: $scrollbar-thumb-width + 2 * $scrollbar-thumb-margin;
    }

    &::-webkit-scrollbar-track {
        border-radius: 8px;
        @include theme.block-background-color(background-color);
    }

    &::-webkit-scrollbar-thumb {
        border-width: $scrollbar-thumb-margin;
        border-style: solid;
        @include theme.block-background-color(border-color);
        border-radius: 6px;
        @include theme.scrollbar-color(background-color);
    }

    a {
        @include theme.color-control-accent(color);
        text-decoration: none;
        
        &:active {
            @include theme.color-control-accent-active(color);
        }
    }
}

a.card-link {
    $card-link-line-height: 32px;
    $card-link-border-width: 2px;

    display: block;
    position: relative;
    margin: 20px;
    padding: 0 24px;
    border-width: $card-link-border-width;
    border-style: solid;
    border-radius: 0.5 * ($card-link-line-height + 2 * $card-link-border-width);
    outline: none;
    font-weight: bold;
    line-height: $card-link-line-height;
    text-decoration: none;

    @include theme.color-control-accent(border-color);
    @include theme.color-control-accent(color);

    &:active {
        @include theme.color-control-accent-active(border-color);
        @include theme.color-control-accent-active(color);
    }
}

.card-link-label {
    $lateral-shift: 7px;
    $shift-transition-time: .15s;

    display: block;
    position: relative;
    user-select: none;
    @include utils.transition($shift-transition-time);

    &::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 5px;
        height: 5px;
        transform: translate(-$lateral-shift, -50%) rotate(45deg);
        border-width: 2px 2px 0 0;
        border-style: solid;
        @include theme.color-control-accent(border-color);
        @include utils.transition($shift-transition-time);
        content: '';
        opacity: 0;
    }

    a.card-link:hover &,
    a.card-link:focus &,
    a.card-link:active & {
        transform: translateX(-$lateral-shift);

        &::after {
            transform: translate(#{2 * $lateral-shift}, -50%) rotate(45deg);
            opacity: 1;
        }
    }

    a.card-link:active &::after {
        @include theme.color-control-accent-active(border-color);
    }
}

.card-title {
    margin: 0;
    padding: 0 0 0 #{0.5 * $card-border-radius};
    font-size: 112.5%;
    font-weight: normal;
    line-height: 28px;
    text-align: left;
    user-select: none;
}
