@import 'common/theme';
@import 'common/utils';

$card-max-width: 512px;
$card-height: 256px;
$card-padding: 12px;

$card-border-radius: 4px;

$shadow-color: rgba(0, 0, 0, 0.5);
$card-background-color: white;

$card-transition-time: .1s ease-in-out;


// Sets the shadow, size and margin
// ::after shadow
.card-frame {
    position: relative;
    max-width: $card-max-width;
    height: $card-height;
    padding: $card-padding;

    border-radius: $card-border-radius;
    background-color: $card-background-color;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 1px 6px -1px $shadow-color;
    overflow: hidden;
    box-sizing: border-box;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        content: '';
        opacity: 0;
        z-index: 1;

        @include transition($card-transition-time)
    }

    &:hover::after {
        opacity: 0.1;
    }
}

.card-background {
    position: absolute;
    top: 0;
    left: calc(50% - #{0.5 * $card-max-width});
    width: $card-max-width;
    height: $card-height;
    z-index: 0;

    .card-frame:hover > & {
        $blur-radius: 2;
        // sass-lint:disable-block quotes no-duplicate-properties
        // no transition for blur because it is expansive
        filter: blur(#{$blur-radius}px); // fallback in case better blur is not supported. This one produces white artifacts on edges.
        // SVG blur does not produce artifacts but not all browsers support it
        filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1'%3E%3CfeGaussianBlur stdDeviation='#{$blur-radius}' result='b'/%3E%3CfeMorphology operator='dilate' radius='#{$blur-radius}'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a");
    }
}

.card-image {
    width: $card-max-width;
    height: $card-height;
}

.card-content {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
    height: 100%;
    margin: auto;
    border: 1px solid #cccccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px $shadow-color;
    z-index: 2;
    box-sizing: border-box;
    user-select: none;

    &.card-reveal {
        opacity: 0;

        .card-frame:hover > & {
            opacity: 1;
        }

        @include transition($card-transition-time)
    }
}

.card-body {
    width: 100%;
    color: #353535;
    font-size: 90%;
    text-align: justify;
    text-indent: 1em;
    overflow-y: auto;

    > p {
        margin: $card-padding;

        &:last-child {
            margin-bottom: 0;
        }
    }

    $scrollbar-thumb-width: 6px;
    $scrollbar-thumb-margin: 3px;

    &::-webkit-scrollbar {
        width: $scrollbar-thumb-width + 2 * $scrollbar-thumb-margin;
    }

    &::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: $card-background-color;
    }

    &::-webkit-scrollbar-thumb {
        border: $scrollbar-thumb-margin solid $card-background-color;
        border-radius: 6px;
        background-color: #b1b1b1;
    }
}

a.card-link {
    $card-link-line-height: 32px;
    $card-link-border-width: 2px;

    display: block;
    position: relative;
    margin: 20px;
    padding: 0 24px;
    border: $card-link-border-width solid $color-control-accent;
    border-radius: 0.5 * ($card-link-line-height + 2 * $card-link-border-width);
    outline: none;
    background: white;
    color: $color-control-accent;
    font-weight: bold;
    line-height: $card-link-line-height;
    text-decoration: none;

    &:hover,
    &:focus {
        border-color: $color-control-accent-hover;
        color: $color-control-accent-hover;
    }

    &:active {
        border-color: $color-control-accent-active;
        background: $grey-lighten-5;
        color: $color-control-accent-active;
    }
}

.card-title {
    margin: 0;
    padding: 0 0 0 #{0.5 * $card-border-radius};
    color: #2b2b2b;
    font-size: 112.5%;
    font-weight: normal;
    line-height: 28px;
    text-align: left;
    user-select: none;
}
