<div class="card-frame">
    <img class="card-background" src="#=(background)" alt="Illustration for #=(title)"/>
    <div class="card-content card-reveal">
        <div class="card-body">
            #include('paragraphs', { paragraphs: body })
        </div>
        <div class="card-action">
            # if (liveLink) {
                # const linkArguments = (typeof liveLinkArguments !== "undefined") ? "?" + liveLinkArguments : "";
                # const url = "https://piellardj.github.io/" + projectName + "/" + linkArguments;
                <a class="card-link" href="#=(url)">See live</a>
            # } else if (githubLink) {
                # const url = "https://github.com/piellardj/" + projectName + "/";
                <a class="card-link" href="#=(url)">Github</a>
            # }
        </div>
    </div>
</div>
<div class="card-title">#=(title)</div>