<h2 class="card-title">#=(title)</h2>
<div class="card-frame">
    <img class="card-background card-image blurred" src="#=(background_blurred)" alt="Illustration for #=(title) in low resolution" />
    <picture class="card-background card-image">
        # const lightImages = [];
        # if (typeof background_light === "string") {
        #    lightImages.push(background_light);
        # }
        # if (typeof background_light_highdpi === "string") {
        #    lightImages.push(background_light_highdpi + " 1.1x");
        # }
        # if (lightImages.length > 0) {
        #    const srcset = lightImages.join(', ');
            <source class="card-image" srcset="#=(srcset)">
        # }
        <img class="card-image" src="#=(background)" alt="Illustration for #=(title)" />
    </picture>
    <div class="card-content card-reveal">
        <div class="card-body">
            #include('paragraphs', { paragraphs: body })
        </div>
        <div class="card-action">
            # {
                # let url, label; // string
                # if (typeof liveLink === "boolean" && liveLink) {
                    # const linkArguments = (typeof liveLinkArguments !== "undefined") ? "?" + liveLinkArguments : "";
                    # url = "https://piellardj.github.io/" + projectName + "/" + linkArguments;
                    # label = "See live";
                # } else if (typeof githubLink === "boolean" && githubLink) {
                    # url = "https://github.com/piellardj/" + projectName + "/";
                    # label = "Github";
                # }
                <a class="card-link" href="#=(url)">
                    <span>#=(label)</span>
                </a>
            # }
        </div>
    </div>
</div>