#include('header', {icon: "play", href: projectUrl, label: "Live project", id: "seep-live-button", animation: "logo-animate-fill"})

<main>
    <div class="contents">
        #=(bodyStr)
    </div>
</main>