<input type="checkbox" id="side-pane-checkbox-id" class="hidden">
<div id="canvas-container">
    <canvas id="canvas"></canvas>
    #include('loader')
    <div id="indicators">
        # let firstOne = true;
        # for(let indicator of indicators) {
            <span id="#=(indicator)-indicator-id">#=(indicator):</span>
            #  if (firstOne) {
                <br/>
                # firstOne = false;
            # }
        # }
    </div>
    # const buttonsClass = (enableFullscreen) ? "" : "class=\"hidden\"";
    <div id="canvas-buttons-column" #=(buttonsClass)>
        <label id="fullscreen-toggle-id" for="fullscreen-checkbox-id"></label>
        <label id="side-pane-toggle-id" for="side-pane-checkbox-id"></label>
    </div>
</div>