@import 'common/theme';
@import 'common/utils';

$badge-size: 32px;

.badge {
    width: 32px;
    height: 32px;
    margin: 8px 12px;
    border: none;

    & > svg {
        width: 32px;
        height: 32px;
    }

    &,
    &:hover,
    &:focus,
    &:active {
        border: none;
    }

    svg {
        @include block-actionitem(fill);
    }
}

.badge-shelf {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
