@import 'common/theme';
@import 'common/utils';

$badge-size: 32px;

.badge {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 8px 6px;
    border: none;

    & > svg {
        width: 32px;
        height: 32px;
    }

    &,
    &:hover,
    &:focus,
    &:active {
        border: none;
    }

    svg {
        @include block-actionitem(fill);
    }
}

.badge-shelf {
    margin-top: 2px;
}
