@import 'common/theme';
@import 'badge';

footer {
    align-items: center;
    padding: 8px;
    text-align: center;
    @include block-border(border-top);
    @include block-background-color(background);
}
