@import 'common/colors';
@import 'badge';

$border-color: $grey-lighten-3;

footer {
    align-items: center;
    padding: 8px;
    border-top: 1px solid $border-color;
    background: $color-background;
    text-align: center;
}
