@use'common/theme';
@use 'badge';

footer {
    align-items: center;
    padding: 8px;
    text-align: center;
    @include theme.block-border(border-top);
    @include theme.block-background-color(background);
}
