@import 'common/colors';
@import 'common/utils';

body {
    text-align: center;
}

.intro {
    margin: 8px 8px 0;
    padding: 16px;
    border: 1px solid $grey-lighten-3;
    border-radius: 8px;
    background: $color-background;

    & h1 {
        margin-top: 0;
    }

    @media only screen and (min-width: 560px) {
        max-width: 512px;
        margin: 16px auto;
        border-width: 1px;
    }
}

.description {
    justify-content: center;
    line-height: 125%;
    text-align: justify;
    text-indent: 1em;
}

#error-messages {
    margin: 32px 8px;
    color: red;
    font-weight: bold;
}

.demo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    @include user-select(none);
}
