#include('header', {icon: "home", href: "https://piellardj.github.io", label: "Home", id: "back-to-home-button", animation: "logo-animate-fill"})

<main>
    #include('demopage/intro', {introduction: introduction, githubProjectName: githubProjectName, additionalLinks: additionalLinks, readmeLink: readmeLink})

    
    #=(body)
</main>