@import 'common/colors';
@import 'common/utils';
@import 'demopage/controls-pane';

$border-color: $grey-lighten-3;

$border-radius: 8px;
$max-width: 36em;
$section-margin: 12px;

.controls-block {
    flex: 1 0 0;
    max-width: $max-width;
    margin: 16px 0;
    padding: $section-margin 0;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background: $color-background;
    z-index: 0;

    @media only screen and (min-width: 540px) {
        margin: 16px;
    }

    & > hr {
        margin: $section-margin 0;
        clear: both;
        
        border-width: 1px 0 0;
        border-style: solid;
        border-color: $border-color;
    }
}

.controls-section {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    margin: 0 16px;

    & > h2 {
        width: 7em;
        margin: 0;
        font-size: medium;
        font-weight: bold;
        line-height: 2em;
        text-align: left;
    }

    & > .controls-list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

.controls-list {
    & > .control {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        min-width: 300px;
        padding: 3px 0;
    }
}

.control > label {
    $font-size: 95%;

    min-width: 8em;
    font-size: $font-size;
    line-height: $font-size;
    text-align: left;    
}

#fullscreen-checkbox-id:checked + .demo #side-pane-checkbox-id {
    & ~ .controls-block {
        position: fixed;
        top: 0;
        left: 100%;
        width: $controls-pane-width;
        max-height: calc(100% - 48px);
        margin: 0;
        border-width: 0 0 1px 1px;
        border-radius: 0 0 0 $border-radius;
        z-index: 50;
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 16px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 8px;
            background-color: $color-background;
        }

        &::-webkit-scrollbar-thumb {
            border-width: 3px 5px;
            border-style: solid;
            border-radius: 8px;
            border-color: $color-background;
            background-color: #b1b1b1;
        }

        &:hover::-webkit-scrollbar-thumb {
            border-width: 3px;
        }

        @include transition(transform $controls-pane-transition-time)
    }

    &:checked ~ .controls-block {
        @include transform(translateX(-100%));

        & .tooltip {
            @include transform(translateX(-100vw) translateX(400px));
        }

        & > #side-pane-close-toggle-id {
            display: block;
        }
    }
}

#side-pane-close-toggle-id {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    stroke: $grey-darken-2;

    &:hover {
        stroke: $grey-darken-1;
    }

    &:active {
        stroke: $grey-darken-3;
    }
}
