<div class="controls-block">
    <label class="canvas-button" id="side-pane-close-toggle-id" for="side-pane-checkbox-id">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <line x1="22" y1 ="22" x2="10" y2="10" stroke-linecap="round" stroke-width="2"/>
            <line x1="22" y1 ="10" x2="10" y2="22" stroke-linecap="round" stroke-width="2"/>
        </svg>
    </label>

    # let firstSection = true;
    # for (section of controlsSections) {
        # if (!firstSection) {
            <hr/>
        # }
        # firstSection = false;

        # const sectionIdAttribute = (typeof section.id === 'undefined') ? '' : ('id="section-' + section.id + '"');
        <section class="controls-section" #=(sectionIdAttribute)>
            <h2>#=(section.title)</h2>

            <div class="controls-list">
                
                # for(let control of section.controls) {
                    <div class="control" id="control-#=(control.id)">
                        # const fullLine = (typeof control.title === 'undefined');
                        # if (!fullLine) {
                            <label>#=(control.title):</label>
                        # }
                        # if (control.type === "tabs") {
                            # control.compact = !fullLine;
                            #include('tabs', control)
                        # } else if (control.type === "checkbox") {
                            # control.label = "";
                            #include('checkbox', control)
                        # } else if (control.type === "range") {
                            #include('range', control)
                        # } else if (control.type === "button") {
                            # control.compact = !fullLine;
                            #include('button', control)
                        # } else if (control.type === "file-upload") {
                            # control.compact = !fullLine;
                            # control.action = "upload";
                            #include('file-control', control)
                        # } else if (control.type === "file-download") {
                            # control.compact = !fullLine;
                            # control.action = "download";
                            #include('file-control', control)
                        # } else if (control.type === "picker") {
                            # control.style = "flex:1";
                            # control.compact = !fullLine;
                            #include('picker', control)
                        # } else if (control.type === "color-picker") {
                            # control.compact = !fullLine;
                            #include('color-picker', control)
                        # } else if (control.type === "select") {
                            #include('select', control)
                        # }
                    </div>
                # }
            </div>
        </section>
    # }
</div>