@use 'common/theme';

main {
    display: block; // for IE
    width: 100%;
    margin: auto;
}

.about {
    margin: auto;
    max-width: 1350px;
    margin-bottom: 32px;
    padding: 0 16px;
    box-sizing: border-box;

    @media only screen and (min-width: 560px) {
        margin-bottom: 64px;
    }

    a {
        @include theme.color-control-accent(color);
        text-decoration: none;

        &:active {
            @include theme.color-control-accent-active(color);
        }
    }

    .about-toggle-container {
        position: relative;
    }

    #about-toggle {
        position: absolute;
        top: -48px;
        right: 0;
        transform: translateY(-50%);
        padding: 0;
        margin: 0;
        border: none;
        font-weight: normal;
        font-size: inherit;
        cursor: pointer;
        background: none;
        opacity: 0.35;
    }

    #about-container {
        display: grid;
        transition: grid-template-rows 400ms, opacity 400ms;
        grid-template-rows: 0fr;
        overflow: hidden;
        opacity: 0;

        &.visible {
            grid-template-rows: 1fr;
            opacity: 1;
        }
    }

    .about-block-container {
        overflow: hidden;
    }

    .about-block {
        width: fit-content;
        max-width: 512px;
        border-width: 1px;
        margin: 16px auto;
        padding: 16px;
        border-radius: 8px;
        @include theme.block-border(border);
        @include theme.block-background-color(background);

        p:first-child {
            margin-top: 0;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}
