#include('header', {icon: "dice", href: "#", label: "Random project", id: "random-project-button", animation: "logo-animate-empty"})

<main>
    # for (let section of sections) {
        #include('homepage/section', section)
    # }
</main>