@use'common/theme';
@use 'common/utils';

$button-flat-border: 2px;

$button-padding-y: 8px;
$button-padding-x: 14px;
$button-compact-padding-y: 6px;

$button-border-radius: 4px;

$button-transition: .1s ease-in-out;

// sass-lint:disable-block no-mergeable-selectors
.button {
    & {
        position: relative;
        padding: $button-padding-y $button-padding-x;
        border: none;
        border-radius: $button-border-radius;
        font-size: 87.5%;
        font-weight: bold;
        cursor: pointer;
        // @include utils.transition($button-transition);
    }

    &.compact {
        padding: $button-compact-padding-y $button-padding-x;
        font-size: 75%;
    }
}

.button.flat {
    padding: #{$button-padding-y - $button-flat-border} #{$button-padding-x - $button-flat-border};
    border-width: $button-flat-border;
    border-style: solid;
    @include utils.box-sizing(border-box);

    &.compact {
        padding: #{$button-compact-padding-y - $button-flat-border} #{$button-padding-x - $button-flat-border};
    }
}

.button {
    & {
        @include theme.color-control-accent(background);
        color: white;
    }

    &:focus,
    &:hover:not(:disabled) {
        outline: 0px;
        @include theme.color-control-accent-hover(background);
    }

    &:active:not(:disabled) {
        outline: 0px;
        @include theme.color-control-accent-active(background);
    }

    &:disabled {
        @include theme.color-control-accent-disabled(background);
        cursor: default;
    }
}

.button.flat {
    & {
        @include theme.color-control-accent(border-color);
        background: none;
        @include theme.color-control-accent(color);
    }

    &:focus,
    &:hover:not(:disabled) {
        @include theme.color-control-accent-hover(border-color);
        background: none;
        @include theme.color-control-accent-hover(color);
    }

    &:active:not(:disabled) {
        @include theme.color-control-accent-active(border-color);
        background: theme.$color-accent-transparent-medium;
        @include theme.color-control-accent-active(color);
    }

    &:disabled {
        @include theme.color-control-accent-disabled(border-color);
        background: none;
        @include theme.color-control-accent-disabled(color);
    }
}
