# { let style = IsFalse(compact) ? "" : " compact";
# style += IsTrue(flat) ? " flat" : "";
# const initialState = IsFalse(enabled) ? " disabled" : "";
<button class="button #=(style)" id="#=(id)" #=(initialState)>#=(label)</button>
# }