// @import 'colors/colors-blue';
// @import 'colors/colors-green';
// @import 'colors/colors-indigo';
// @import 'colors/colors-orange';
// @import 'colors/colors-red';
@import 'colors/colors-teal';

// $color-lighten-5: $color-teal-lighten-5;
// $color-lighten-4: $color-teal-lighten-4;
// $color-lighten-3: $color-teal-lighten-3;
// $color-lighten-2: $color-teal-lighten-2;
// $color-lighten-1: $color-teal-lighten-1;
// $color-medium:    $color-teal-medium;
// $color-darken-1:  $color-teal-darken-1;
// $color-darken-2:  $color-teal-darken-2;
// $color-darken-3:  $color-teal-darken-3;
// $color-darken-4:  $color-teal-darken-4;

$grey-lighten-5: #eeeeee;
$grey-lighten-4: #dbdbdb;
$grey-lighten-3: #c9c9c9;
$grey-lighten-2: #b2b2b2;
$grey-lighten-1: #a5a5a5;
$grey-medium:    #959595;
$grey-darken-1:  #7e7e7e;
$grey-darken-2:  #676767;
$grey-darken-3:  #5e5e5e;
$grey-darken-4:  #535353;

$color-page-background:  $grey-lighten-5;
$color-block-background: $color-page-background;
$color-block-delimiter:  $grey-lighten-3;
$color-text:             $grey-darken-2;
$color-title:            $grey-darken-4;
$color-subtitle:         $grey-darken-3;
$color-subsubtitle:      $grey-darken-2;

$color-control-accent:        $color-teal-medium;
$color-control-accent-hover:  red;//$color-teal-lighten-1;
$color-control-accent-active: $color-teal-darken-1;
$color-control-disabled:      $grey-lighten-1;
$color-control-neutral:       $grey-lighten-3;
