$grey-lighten-5: #ececec;
$grey-lighten-4: #dbdbdb;
$grey-lighten-3: #c9c9c9;
$grey-lighten-2: #b2b2b2;
$grey-lighten-1: #a5a5a5;
$grey-medium:    #959595;
$grey-darken-1:  #7e7e7e;
$grey-darken-2:  #676767;
$grey-darken-3:  #5e5e5e;
$grey-darken-4:  #535353;
