$shadow-color: #808080; 

$no-shadow: none;

$shadow-pop-0: 0px 1px  3px  -1px $shadow-color;
$shadow-pop-1: 0px 1px  6px  -1px $shadow-color;
$shadow-pop-2: 0px 2px  8px -2px $shadow-color;
$shadow-pop-3: 0px 4px 16px -6px $shadow-color;
$shadow-pop-4: 0px 8px 32px -12px $shadow-color;

$shadow-push-0: 0px 0px  2px $shadow-color inset;
$shadow-push-1: 0px 0px  4px $shadow-color inset;
$shadow-push-2: 0px 0px  8px $shadow-color inset;
$shadow-push-3: 0px 0px 16px $shadow-color inset;
$shadow-push-4: 0px 0px 32px $shadow-color inset;
