# { const style = IsFalse(compact) ? "compact2" : "compact";
<div class="select-container #=(style)" id="#=(id)">
        # let selectedOption = null;
        # options.forEach(function(option) {
            # if (option.checked) {
                # selectedOption = option;
            # }
        # });
        # const currentValueAttribute = selectedOption ? "data-value=\"" + selectedOption.value + "\"" : "";
        # const currentValueLabel = selectedOption ? selectedOption.label : placeholder;
    <div class="select-current-value" #=(currentValueAttribute)>#=(currentValueLabel)</div>
    <div class="select-values-list" data-placeholder="#=(placeholder)">
        # options.forEach(function(option) {
            <div class="select-value" data-value="#=(option.value)">#=(option.label)</div>
        # });
    </div>
</div>
# }