@use'common/theme';
@use 'common/utils';

$size: 120px;
$border-width: 4px;
$line-width: 6px;

$anim: 1.1s linear;//cubic-bezier(.5, .2, .5, .8);

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: $size;
    height: $size;
    margin: auto;

    & > span {
        color: white;
        font-size: 32px;
        line-height: $size;
        text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black, 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
    }
}

.loader-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: $size;
    height: $size;
    animation: spin $anim infinite;

    &:before {
        position: absolute;
        top: #{0.5 * ($border-width - $line-width)};
        left: #{0.5 * ($border-width - $line-width)};
        width: #{$size - ($border-width - $line-width)};
        height: #{$size - ($border-width - $line-width)};
        border: $line-width solid transparent;//rgba(255, 255, 255, 0.2);
        border-top: $line-width solid black;// rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        content: '';
        z-index: 50;
        @include utils.box-sizing(border-box);
    }

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: $size;
        height: $size;
        border: $border-width solid transparent;
        border-top: $border-width solid white;
        border-radius: 50%;
        content: '';
        z-index: 51;
        @include utils.box-sizing(border-box);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
