@import '../../common/utils';

$grid-cell-margin: 8px;

.projects {
    max-width: 1350px;
    margin: 0 auto 32px;
    padding: $grid-cell-margin;
    user-select: none;

    & > h1 {
        width: 100%;
        margin: 0 $grid-cell-margin #{$grid-cell-margin / 2};
        font-size: 200%;
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;

    @media only screen and (min-width: 560px) {
        grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width: 1040px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.projects-grid-cell {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    padding: $grid-cell-margin; // don't use grid-gap because it is not supported by IE11
}
