<section class="projects">
    <h1>#=(title)</h1>
    <div class="projects-grid">
        # for (let card of cards) {
            <div class="projects-grid-cell">
                #include('homepage/card', card)
            </div>
        # }
    </div>
</section>