@import 'common/theme';
@import 'common/utils';

.file-control {
    position: relative;

    & > input.file-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        opacity: 0;
    }

    & > .file-control-button {
        display: inline-block;
        position: relative;
        padding: 6px 12px 6px 2em;
        border-width: 2px;
        border-style: solid;
        border-radius: 4px;
        font-size: 87.5%;
        font-weight: bold;
        cursor: pointer;

        @include box-sizing(border-box);

        & > svg {
            position: absolute;
            top: 0;
            left: .2em;
            width: 1.5em;
            height: 100%;
        }
    }

    &.compact > .file-control-button {
        padding: 4px 12px 4px 2em;
        font-size: 75%;
    }
}

.file-control > input.file-input {
    & + .file-control-button {
        @include color-control-accent(border-color);
        @include color-control-accent(color);

        & > svg {
            @include color-control-accent(fill);
        }
    }

    &:focus + .file-control-button,
    &:hover:not(:disabled) + .file-control-button {
        @include color-control-accent-hover(border-color);
        @include color-control-accent-hover(color);

        & > svg {
            @include color-control-accent-hover(fill);
        }
    }

    &:active:not(:disabled) + .file-control-button {
        @include color-control-accent-active(border-color);
        @include color-control-accent-active(color);
        background: $color-accent-transparent-medium;

        & > svg {
            @include color-control-accent-active(fill);
        }
    }

    &:disabled + .file-control-button {
        @include color-control-accent-disabled(border-color);
        @include color-control-accent-disabled(color);

        & > svg {
            @include color-control-accent-disabled(fill);
        }
    }
}
