@import 'common/colors';
@import 'common/utils';

.file-control {
    & > input[type=file] {
        display: none;
    }

    & > .file-control-button {
        display: inline-block;
        position: relative;
        padding: 6px 12px 6px 2em;
        border-width: 2px;
        border-style: solid;
        border-radius: 4px;
        font-size: 87.5%;
        font-weight: bold;
        cursor: pointer;

        @include box-sizing(border-box);

        & > svg {
            position: absolute;
            top: 0;
            left: .2em;
            width: 1.5em;
            height: 100%;
        }
    }

    &.compact > .file-control-button {
        padding: 4px 12px 4px 2em;
        font-size: 75%;
    }
}

.file-control > .file-control-button {
    & {
        border-color: $color-control-accent;
        background: none;
        color: $color-control-accent;

        & > svg {
            fill: $color-control-accent;
        }
    }

    &:focus,
    &:hover:not(:disabled) {
        border-color: $color-control-accent-hover;
        background: none;
        color: $color-control-accent-hover;

        & > svg {
            fill: $color-control-accent-hover;
        }
    }

    &:active:not(:disabled) {
        border-color: $color-control-accent-active;
        background: $grey-lighten-4;
        color: $color-control-accent-active;

        & > svg {
            fill: $color-control-accent-active;
        }
    }

    &:disabled {
        border-color: $color-control-disabled;
        background: none;
        color: $color-control-disabled;

        & > svg {
            fill: $color-control-disabled;
        }
    }
}
