@import 'common/theme';
@import 'common/utils';

#error-messages {
    margin: 32px 8px;
    color: red;
    font-weight: bold;
}

.demo {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;

    @include user-select(none);
}
