#include('demopage/header')

<main>
    #include('demopage/intro', {introduction: introduction, githubProjectName: githubProjectName, additionalLinks: additionalLinks})

    <div id="error-messages">
        <noscript>
        You need to enable Javascript to run this experiment.
        </noscript>
    </div>

    <input type="checkbox" id="fullscreen-checkbox-id" class="hidden">
    <div class="demo">
        #include('demopage/canvas', { indicators: indicators, enableFullscreen: canvas.enableFullscreen })
        #include('demopage/controls-block', { controlsSections: controlsSections })
    </div>
</main>