@import 'common/colors';

.intro {
    margin: auto;
    padding: 16px;
    border: 1px solid $color-block-delimiter;
    border-radius: 8px;
    background: $color-block-background;

    & h1 {
        margin-top: 0;
    }

    @media only screen and (min-width: 560px) {
        max-width: 512px;
        border-width: 1px;
    }
}

.description {
    justify-content: center;
    line-height: 125%;
    text-align: justify;
    text-indent: 1em;
}
