@import 'common/theme';

.intro {
    margin: auto;
    padding: 16px;
    border-radius: 8px;
    @include block-border(border);
    @include block-background-color(background);

    & h1 {
        margin-top: 0;
    }

    @media only screen and (min-width: 560px) {
        max-width: 512px;
        border-width: 1px;
    }
}

.description {
    justify-content: center;
    line-height: 125%;
    text-align: justify;
    text-indent: 1em;
}
