<div class="intro">
    <h1>#=(title)</h1>

    <div class="description">
        #include('paragraphs', {paragraphs: introduction})

        <br>

        #include('link', {href: "https://github.com/piellardj/" + githubProjectName, text: "More on GitHub"})

        # if (typeof additionalLinks !== "undefined" && additionalLinks.length > 0) {
            <br/>
            # for (let link of additionalLinks) {
                <br/>
                #include('link', link)
            # }
        # }
    </div>
</div>