<div class="intro">
    <h1>#=(title)</h1>

    <div class="description">
        #include('paragraphs', {paragraphs: introduction})

        <br>

        <div class="project-links">
            #include('link', {href: "https://github.com/piellardj/" + githubProjectName, text: "More on GitHub"})

            # if (typeof readmeLink === "string") {
                #include('link', {href: readmeLink, text: "Explanations"})
            # }
        </div>

        # if (typeof additionalLinks !== "undefined" && additionalLinks.length > 0) {
            <br/>
            # for (let link of additionalLinks) {
                <br/>
                #include('link', link)
            # }
        # }
    </div>
</div>