$color-teal-lighten-5: #e0f2f1;
$color-teal-lighten-4: #b2dfdb;
$color-teal-lighten-3: #80cbc4;
$color-teal-lighten-2: #4db6ac;
$color-teal-lighten-1: #26a69a;
$color-teal-medium:    #009688;
$color-teal-darken-1:  #00897b;
$color-teal-darken-2:  #00796b;
$color-teal-darken-3:  #00695c;
$color-teal-darken-4:  #004d40;
