$color-green-lighten-5: #e8f5e9;
$color-green-lighten-4: #c8e6c9;
$color-green-lighten-3: #a5d6a7;
$color-green-lighten-2: #81c784;
$color-green-lighten-1: #66bb6a;
$color-green-medium:    #4caf50;
$color-green-darken-1:  #43a047;
$color-green-darken-2:  #388e3c;
$color-green-darken-3:  #2e7d32;
$color-green-darken-4:  #1b5e20;
