$color-red-lighten-5: #ffebee;
$color-red-lighten-4: #ffcdd2;
$color-red-lighten-3: #ef9a9a;
$color-red-lighten-2: #e57373;
$color-red-lighten-1: #ef5350;
$color-red-medium:    #f44336;
$color-red-darken-1:  #e53935;
$color-red-darken-2:  #d32f2f;
$color-red-darken-3:  #c62828;
$color-red-darken-4:  #b71c1c;
