@import 'common/theme';
@import 'common/utils';

a {
    @include color-control-accent(color);
    font-weight: bold;
    text-decoration: none;
    @include box-sizing(border-box);

    &:focus,
    &:hover {
        border-width: 0 0 2px 0;
        border-style: solid;
        @include color-control-accent(border-color);
    }
}
