@use'common/theme';
@use 'common/utils';

a {
    @include theme.color-control-accent(color);
    font-weight: bold;
    text-decoration: none;
    @include utils.box-sizing(border-box);
    border-width: 0 0 2px;
    border-style: solid;
    border-color: transparent;

    &:focus,
    &:hover {
        @include theme.color-control-accent(border-color);
    }
}
