$controls-pane-transition-time: .2s ease-in-out;
$controls-pane-width: 400px;

$canvas-button-size: 32px;

.canvas-button {
    width: $canvas-button-size;
    height: $canvas-button-size;
    cursor: pointer;
}

