@import 'common/theme';
@import 'common/utils';

.inline-picker {
    $height: 32px;

    display: flex;
    position: relative;
    justify-content: space-between;
    min-height: $height;
    user-select: none;

    & span {
        flex-shrink: 1;
        align-self: center;
        padding: 0 4px;
    }

    & .picker-button {
        display: inline-block;
        width: 32px;
        height: $height;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background: none;

        &:not(:disabled) {
            cursor: pointer;
        }

        &.left {
            transform: translateX(-10px);

            &::after {
                left: 13px;
                @include transform(rotate(135deg));
            }
        }

        &.right {
            transform: translateX(10px);

            &::after {
                right: 13px;
                @include transform(rotate(-45deg));
            }
        }

        &::after {
            position: absolute;
            top: calc(50% - 6px);
            width: 12px;
            height: 12px;
            border-width: 0 3px 3px 0;
            border-style: solid;
            @include color-control-accent(border-color);
            background: none;
            content: '';
            @include box-sizing(border-box);
        }

        &:hover::after,
        &:focus::after {
            @include color-control-accent-hover(border-color);
        }

        &:active::after {
            @include color-control-accent-active(border-color);
        }

        &:disabled::after {
            @include color-control-accent-disabled(border-color);
        }
    }

    &.compact {
        $height: 26px;
        min-height: $height;
        font-size: 95%;

        & .picker-button {
            height: $height;
        }
    }

    & input {
        display: none;
    }
}
