# { const compactStr = IsFalse(compact) ? "" : "compact";
# const styleStr = (typeof style !== undefined && style !== "") ? "style='" + style + "'" : "";
# const dataplaceholder = (typeof placeholder !== "undefined") ? "data-placeholder=" + placeholder : "";
<div class="inline-picker #=(compactStr)" id="#=(id)" #=(styleStr) #=(dataplaceholder)>
    <div class="picker-button left">&nbsp;</div>
    <span></span>
    <div class="picker-button right">&nbsp;</div>
    # options.forEach(function(option) {
        # const checked = option.checked ? "checked" : "";
        <input type="radio" name="#=(id)" value="#=(option.value)" #=(checked) data-label="#=(option.label)">
    # });
</div>
# }