@import 'common/colors';
@import 'common/utils';

$logo-size: 64px;
$logo-border-width: 1px;

body {
    text-align: center;
}

header {
    z-index: 0;
}

.logo {
    display: block;
    position: relative;
    width: $logo-size;
    height: $logo-size;
    margin: 8px auto 16px;
    border: $logo-border-width solid $color-medium;
    border-radius: 50%;
    background: $color-background;
    user-select: none;

    &::before,
    &::after {
        position: absolute;
        top: -$logo-border-width;
        left: -$logo-border-width;
        width: $logo-size;
        height: $logo-size;
    }

    &::before {
        border-radius: 50%;
        background: $color-medium;
        content: '';
        z-index: 0;
        @include transform(scale(0));
        @include transition(.1s ease);
    }

    &::after {
        color: $color-medium;
        font-size: 16px;
        font-weight: normal;
        line-height: $logo-size;
        content: 'home';
        z-index: 1;
    }

    &:hover,
    &:active,
    &:focus {
        border-width: 1px; // counteract a's bottom border
    }

    &:hover {
        &::before {
            @include transform(scale(1));
        }

        &::after {
            color: white;
        }
    }
}
